*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
a{
    text-decoration: none;
    color: rgb(64, 64, 244);
}

#body{
    background-color: rgb(243, 241, 239);
}

.navbar{
    height: 60px;
    background-color: #11171c;
    color: rgb(231, 230, 230);
    display: flex;
    align-items: center;
    justify-content: space-evenly ;
}
.nav-logo{
    height: 50px;
    width: 110px;
}
.logo{
    background-image:url("image.png") ;
    height: 45px;
    width: 120px;
    background-size: cover;
}

.border{
    border: 1.3px solid transparent;
}
.border:hover{
    border:1.3px solid white;
}
.nav-address{
    padding: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.add-first{
    color: #cccccc;
    font-size: 0.7rem;
    margin-left: 15px;
}
.add-second{
    font-size: 0.9rem;
    margin-left: 3px;
}

.nav-search{
    display: flex;
    width: 800px;
    height: 33px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-bar{
    width: 100%;
    align-content: center;
    border: none;
    font-size: 1rem;
}
#nav-options{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-icon{
    background-color:#febd68;
    color:black;
    width: 20px;
    align-items: center;
    padding: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.div-language{
    height: 40px;
    padding: 5px 5px 3px 5px;
    
}
#language{
    background-color: #1d1e1e;
    height: 35px;
    align-items: center;
    color: white;
    border: none;
}

.cart{
    padding: 5px;
}



.panel{
    color: white;
    height: 45px;
    background-color: #222f3d;
    display: flex;
    font-size: .9rem;
    align-items: center;
}
.panal-all{
    padding: 5px;
}
.panel-options{
    display: flex;
}
.ops{
    margin-left: 10px;
    height: 20px;
    padding-top: 5px;
}

/* hero section */
.hero-section{
    background-image: url("https://m.media-amazon.com/images/I/71Ie3JXGfVL._SX3000_.jpg");
    height: 500px;
    background-size: cover;
    background-color: #febd68;
    display: flex;
    justify-content: center;
    align-items: end;
   }

   .hero-text{
    display: flex;
    background-color: #f0efef;
    font-size: 0.95rem;
    height: 2.4rem;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin-bottom: 2rem;
   }


   /* shoping items */

   .shop-box{
    height: 20rem;
    width: 23%;
    background-color: white;
    margin: 1.4rem 0 0 0;
   }

   .main-shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   }

   .shop-box{
    padding: 15px 0px 5px;
   }
   .box-image{
    height: 15rem;
    width: 17.5rem;
   margin:1rem 0 1rem;
   background-size: cover;
   }

.boxAlignment{
    margin-left: 1.5rem;
}
.sub-boxAlignment{
    margin-left: 0rem;
}

.sub-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.sub-box-image{
    height: 7rem;
    width: 9rem;
    background-size: cover;
    margin-top: 0.5rem;
}
.title-sub-box-image{
    display: flex;
    justify-content: space-evenly;
}


/* shop bar */

.shop-bar-main1{
    background-color: white;
    padding: 1rem 0 0 0;
    margin: 1.4rem ;
}

.shop-bar{
    height: 16rem;
    display: flex;
}

.item1-no1{
    height: 14rem;
    width: 10rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item1-no2{
    height: 14rem;
    width: 10rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item1-no3{
    height: 14rem;
    width: 10rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item1-no4{
    height: 14rem;
    width: 10rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item1-no5{
    height: 14rem;
    width: 10rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item1-no6{
    height: 14rem;
    width: 9rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item1-no7{
    height: 14rem;
    width: 19rem;
    background-size: cover;   
    margin: 0.5rem;
}


.shop-bar-main2{
    background-color: white;
    padding: 1rem 0 0 0;
    margin: 1.4rem ;
}

.item2-no1{
    height: 14rem;
    width: 10rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item2-no2{
    height: 14rem;
    width: 12rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item2-no3{
    height: 14rem;
    width: 12rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item2-no4{
    height: 14rem;
    width: 4rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item2-no5{
    height: 14rem;
    width: 6.2rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item2-no6{
    height: 14rem;
    width: 14rem;
    background-size: cover;   
    margin: 0.5rem;
}
.item2-no7{
    height: 14rem;
    width: 15rem;
    background-size: cover;   
    margin: 0.5rem;
}


.footer{
    height: 70rem;
    background-color:  #222f3d;

}

.signIn-bar{
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
}
#signIn-button{
    height: 30px;
    width: 80px;
    background-color:#febd68 ;
    border: none;
    border-radius: 3px;
}
#back-to-top{
    height: 50px;
    width: 100%;
    background-color: #32465b;
    border: none;
}




.footer-body{
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 6rem 4rem 8rem 4rem;
}

.footer-list-headding{
    font-size: 16px;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}
.footer-list{
    font-size: 12px;
    margin-bottom: 0.3rem;
}
.footer-logo{
    display: flex;
    height: 50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #222f3d;
}

#language{
    width: 70px;
    height: 35px;
    background-color: #32465b ;
    color: white;
    border: 2px solid white;
}
.footer-image{
    background-image: url("Amazon-logo2.png");
    background-size: cover;
    width: 100px;
    height: 50px;
}

.footer-content{
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding: 6rem 4rem 8rem 4rem;
    background-color: #11171c;
}


.footer-content-list-headding{
    font-size: 16px;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}
.footer-content-list{
    font-size: 12px;
    margin-bottom: 0.3rem;
}

.note{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:#11171c;
    font-size: 22;
    padding-bottom: 5rem;
}